@media screen and ( max-width: 780px) {
.header-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.main-menu{
    display: none;
}
.main-menu li{
    width: 100%;
    display: block;
    font-size: 12px;
}
.main-menu a{
    display: block;
    padding: 8px;
}
.toggle-button{
    text-align: center;
    display: block;
    cursor: pointer;
    color: black;
}
.toggle-button:after{
    content: attr(data-open);
    display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .main-menu {
    display: block;
}
#menu-checkbox:checked + nav[role="navigation"] .toggle-button::after{
    content: attr(data-close);
}
.header-container a{
    margin-right: -65px;
}
.main-menu{
    position: relative;
    top: 30px;
    right: 115px;
}
}

@media screen and ( max-width: 420px) {
    .header-container{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .main-menu{
        display: none;
    }
    .main-menu li{
        width: 100%;
        display: block;
        font-size: 12px;
    }
    .main-menu a{
        display: block;
        padding: 8px;
    }
    .toggle-button{
        text-align: center;
        display: block;
        cursor: pointer;
        color: black;
    }
    .toggle-button:after{
        content: attr(data-open);
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .main-menu {
        display: block;
    }
    #menu-checkbox:checked + nav[role="navigation"] .toggle-button::after{
        content: attr(data-close);
    }
    .header-container a{
        margin-right: -65px;
    }
    .main-menu{
        position: relative;
        top: 30px;
        right: 115px;
    }


    .top-slide{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .top-slide h2{
        font-size: 30px;
    }
    .top-slide p{
        font-size: 15px;
    }
    .specialize-container h3{
        font-size: 20px ;
    }
    .specialize-container p {
        font-size: 15px;
    }
    .specialize-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .bottom-card{
        width: 250px;
        margin: 0 auto;
    }
    .posts{
        width: 90%;
        display: grid;
        grid-template-columns: auto ;
        margin: 0 auto;
    }
    .posts img{
        max-width: 100%;
        height: auto;
    }
}